<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile
                name="RollingFile1"
                fileName="\resources\pw-logs-info.log"
                filePattern="\resources\pw-logs-info-%d{yyyy-MM-dd}-%i.log"
                ignoreExceptions="false">
            <LevelRangeFilter minLevel="INFO" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.}:%L [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile
                name="RollingFile2"
                fileName="\resources\pw-logs-errors.log"
                filePattern="\resources\pw-logs-errors-%d{yyyy-MM-dd}-%i.log"
                ignoreExceptions="false">
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.}:%L [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="ru.pw.java" level="info" additivity="false">
            <AppenderRef ref="RollingFile1"/>
            <AppenderRef ref="RollingFile2"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger >

        <Root level="error">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>